# Percabangan dan Perulangan

## if else and loop

### conditional

- equals: a==b
- not equals: a!=b
- less than: a<b
- less than or equal for: a<=b
- greater than: a>b
- greater than or equal to: a>=b
- these conditions can be used in several ways, most commonly in "if statements" and loops

if (expression):

    (statements)

In [12]:
x = 2
y = 3
if x<y:
    print(' gede 3')
if y>x:
    print('cilik 2')
if 'aku' in ['aku', 'cinta', 'kamu']:
    print ('love you')

 gede 3
cilik 2
love you

In [13]:
if x<y:
    if y>x:
        pass
    print('succes')

succes

In [11]:
if x<y:
    if y>x:
        print('fail')
    print('succes')

fail
succes

In [18]:
x = 2
y =2
if x<y:
    print(x)
elif x>y:
    print(y)
elif x==y:
    print(x,y,'y x sama')

2 2 y x sama

In [20]:
x = 2
y = 1
if x<y:
    print(x)
elif x==y:
    print(x,y,'y x sama')
else:
    print('kemahalan')

kemahalan

In [24]:
harga = int(input()) 
print(harga)

 200

200

In [86]:
beli = int(input())
pisang = 3000
belanja_awal = 3000*beli
if belanja_awal>100000:
    diskon=0.1
    belanja=belanja_awal - belanja_awal*diskon;
    print('total belanja anda adalah {} ({} di diskon {} % )'.format(belanja, belanja_awal,diskon*100))
elif belanja_awal>50000:
    diskon=0.05
    belanja=belanja_awal - belanja_awal*diskon
    print('total belanja anda adalah {} ({} di diskon {} % )'.format(belanja, belanja_awal,diskon*100))
elif belanja_awal<50000:
    belanja=belanja_awal
    diskon=0
    print('total belanja anda adalah {} ({} di diskon {} % )'.format(belanja, belanja_awal,diskon*100))

 5

total belanja anda adalah 15000 (15000 di diskon 0 % )

## One Line if statements

In [88]:
harga_jeruk = 50000
standar_harga = 30000
if harga_jeruk>standar_harga: print("Mahal amat");print("banget");print(harga_jeruk);

Mahal amat
banget
50000

## Conditional Expressions

In [91]:
umur = 40
s='tua' if umur > 40 else 'Muda'
print(s)

Muda

In [94]:
nama = 'Hakim'
n = 'In Calss' if nama in ['Hakim','nunu'] else 'out of class'
print(n)

In Calss

Pass artinya dilewatin

In [100]:
print("berapa gaji anda?")
gaji_asli = int(input())
print("year of service?")
tahun = int(input())

if tahun>10:
    bonus = 0.1
    gaji = gaji_asli + gaji_asli*bonus
    print('Total Gaji anda IDR {}  '.format(gaji,))
else:
    bonus = 0
    gaji = gaji_asli
    print('Total Gaji anda IDR {} '.format(gaji, ))

berapa gaji anda?

 10000000000000

year of service?

 20

Total Gaji anda IDR 11000000000000.0

In [103]:
print("berapa gaji anda?")
gaji_asli = int(input())
print("year of service?")
tahun = int(input())
pengkali = (tahun/10)*0.1
gaji = gaji_asli + gaji_asli*pengkali
print(gaji)

if tahun>10:
    bonus = 0.1
    gaji = gaji_asli + gaji_asli*bonus
    print('Total Gaji anda IDR {}  '.format(gaji,))
else:
    bonus = 0
    gaji = gaji_asli
    print('Total Gaji anda IDR {} '.format(gaji, ))

berapa gaji anda?

 15

year of service?

 15

17.25
Total Gaji anda IDR 16.5

## Loop
Perulangan

In [109]:
for i in ['hani','melvin','avin','vin','upin']:
    print(i+'ayam')

haniayam
melvinayam
avinayam
vinayam
upinayam

In [112]:
for i in [1,2,3,4]:
    print(i+1)

2
3
4
5

In [1]:
apel = 5
while apel>0:
    apel-=1
    print(apel)

4
3
2
1
0

In [2]:
for i in 'string':
    print(i)

s
t
r
i
n
g

In [5]:
apel = 5
while apel>0:
    apel-=1
    if apel == 1:
        print('WOY 1 WOY')
    elif apel ==2:
        print('Woy 2 Woy')
    else:
        print(apel)

4
3
Woy 2 Woy
WOY 1 WOY
0

In [9]:
#break
apel = 5
while apel>0:
    apel-=1
    if apel == 1:
        print('sisa 1 jgn di abisin')
        break
    print(apel)
print('Loop End')

4
3
2
sisa 1 jgn di abisin
Loop End

In [12]:
apel = 5
while apel>0:
    apel-=2
    if apel == 1:
        print('sisa 1 jgn di abisin')
        continue
    print(apel)
print('Loop End')

3
sisa 1 jgn di abisin
-1
Loop End

In [11]:
apel = 5
while apel>0:
    apel-=1
    print(apel)
else:
    print('Loop End')

4
3
2
1
0
Loop End

## Nester If - Else & Loops

In [18]:
umur =int(input())
gender = 'M'
if umur < 18:
    if gender == 'M':
        print('Son')
    else:
        print('Daughter')
elif umur > 18 and umur < 65:
    if gender == 'M':
        print('Boy')
    else:
        print('Girl')

 25

Boy

## One line While Loops

## For LOOP

In [21]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [25]:
# Nester For Loop
b=['budi','joko','anwar']
for i in b:
    for j in i:
        print(j)

b
u
d
i
j
o
k
o
a
n
w
a
r

In [27]:
# Nester For Loop
b=['budi','joko','anwar']
for i in b:
       print(i)

budi
joko
anwar

In [32]:
# Nester For Loop
b=['budi','joko','anwar']
for i in b:
    if i == 'anwar':
        break
    for j in i:
        if j == 'k':
            break
        print(j)

b
u
d
i
j
o

In [50]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a:
    if i == 'B':
        print(dictionary_a [i])
        break
    dictionary_a[i]

Jakarta

In [46]:
dictionary_a['B']

'Jakarta'

In [51]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a:
     print(dictionary_a [i])

Bekasi
Jakarta
Medan

In [64]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan','D':'Jakarta'}
for i in dictionary_a:
    if dictionary_a[i]== 'Jakarta':
        print(i)
    dictionary_a[i]

B
D

In [69]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Malang','D':'YogJakarta'}
for i in dictionary_a:
    if 'e' in dictionary_a[i] :
        continue
    print(dictionary_a[i])

Jakarta
Malang
YogJakarta

In [68]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Malang','D':'YogJakarta'}
for i in dictionary_a:
    if 'l' in dictionary_a[i] :
        break
    print(dictionary_a[i])

Bekasi
Jakarta

In [70]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Malang','D':'YogJakarta'}
for i in dictionary_a:
    if 'e' in dictionary_a[i] :
        pass
    print(dictionary_a[i])

Bekasi
Jakarta
Malang
YogJakarta

- loop itu keselurahan iterasi objek 1 loop diatas banyaknya iterasi
- iterasi adalah istilah untuk 1 putaran loop
- continue akan memberhentikan iterasi dan lanjut ke iterasi berikutnya
- break akan memberhentikan looping secara kesuluruhan (loop sisanya)

In [71]:
dictionary_a.values()

dict_values(['Bekasi', 'Jakarta', 'Malang', 'YogJakarta'])

In [72]:
dictionary_a.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [76]:
print(dictionary_a.values())

dict_values(['Bekasi', 'Jakarta', 'Malang', 'YogJakarta'])

In [77]:
print(range(5))

range(0, 5)

In [80]:
a = ['a','b','c','d','f']
a[2:4]

['c', 'd']

In [91]:
for i in range(10):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [93]:
a = [1,2,4,5,6]
b = [3,4,5,6,7]
for i in zip(a,b):
    print(i)

(1, 3)
(2, 4)
(4, 5)
(5, 6)
(6, 7)

In [94]:
a = [1,2,4,5,6]
b = [3,4,5,6,7]
for i,j in zip(a,b):
    print(i+j)

4
6
9
11
13

In [96]:
a = [1,2,4,5,6]
b = [3,4,5,6,7]
c = [5,6,7,8,9]
for i,j,k in zip(a,b,c):
    print(i,j,k)

1 3 5
2 4 6
4 5 7
5 6 8
6 7 9

In [97]:
a = [1,2,4,5,6]
b = [3,4,5,6,7]
c = [5,6,7,8,9]
for i,j,k in zip(a,b,c):
    print(i+j+k)

9
12
16
19
22

In [100]:
for i in range(21):
    a=i%2
    if a==1:
        print(i)
    else:
        print('Genap')

Genap
1
Genap
3
Genap
5
Genap
7
Genap
9
Genap
11
Genap
13
Genap
15
Genap
17
Genap
19
Genap

In [104]:
i = 1
while i<21 :
    if i%2 == 0:
        print('genap')
    else:
        print(i)
    i +=1

1
genap
3
genap
5
genap
7
genap
9
genap
11
genap
13
genap
15
genap
17
genap
19
genap

In [ ]:
i = int(input())
while y>i:

## bikin piramida angka  
misal 1-10 balik lagi 10-1
- 1
- 12
- 123
- 1234
- 12345
- 123456
- 1234567
- 12345678
- 123456789
- 12345678910
- 123456789
- 12345678
- 1234567
- 123456
- 12345
- 1234
- 123
- 12
- 1